<div class="container">
        <div class="row">
            <div row="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome To Fight Club!</h1>
                    <p class="lead">One chance at </p>
                </div>
         
        </div>
    </div>