<div class="container">
    <div id="gpJumbotron" class="jumbotron">
        <h1 id="gph1" class="display-4">Fight Club</h1>
        <p id="quote" class="lead">...We were raised by television
            <br>to believe that we'd be millionaires and movie gods and rock stars -- but we won't.
            <br>And we're learning that fact. And we're very, very pissed-off.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="fighters" class="card">
                <!-- user player image -->
                <img class="card-img-top " src="https://static.giantbomb.com/uploads/scale_small/13/135472/1891760-003venusaur.png" alt="Card image cap ">
                <div id="playerHP"></div>
                <div class="card-body">
                    <!-- dynamic your user name should populate -->
                    <h5 id="playerName" class="card-title"></h5>
                    <div class="card-body">
                        <p id="playerTextHP"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- vs symbol & gamplay buttons -->
            <div id="fighters" class="card">
                <img class="card-img-top " src="https://vignette.wikia.nocookie.net/deathbattle/images/4/47/VS.png/revision/latest?cb=20160727174407">
                <div class="card-body">
                    <h5 id="names" class="card-title">Fights Will Go On
                        <br> As Long As They Have To.</h5>
                    <div class="card-body">
                        <p>
                            <button type="button" id="heavy" class="btn btn-danger">Heavy Attack</button>
                            <button type="button" id="fast" class="btn btn-warning">Fast Attack</button>
                        </p>
                        <p>
                            <button type="button" id="block" class="btn btn-secondary">Block</button>
                            <button type="button" id="dodge" class="btn btn-dark">Dodge</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="fighters" class="card">
                <!-- opponent image-->
                <img class="card-img-top " src="https://static.giantbomb.com/uploads/scale_small/13/135472/1891760-003venusaur.png" alt="Card image cap ">
                <div id="opponentHP"></div>
                <div class="card-body">
                    <!-- dynamic your oppenests username should populate -->
                    <h5 id="opponentName" class="card-title">Your Opponent</h5>
                    <div class="card-body">
                        <p id="opponentTextHP">Getting Opponent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>