<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forever Fighting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div row="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome To Fight Club!</h1>
                    <p class="lead">"How much can you know about yourself if you've never been in a fight?"</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div row="col-md-4">
                <!-- user player image -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Stats</h5>
                        <div class="card-body">
                            <p>Strength: {{this.strength}}
                                <br>Speed: {{this.speed}}
                                <br>Level: {{this.}level}
                                <br>Experience: {{this.experience}}
                                <br>Health: {{js bar}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div row="col-md-4">
                <!-- vs symbol -->
                <div class="card">
                    <div class="card-body">
        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div row="col-md-4">
                <!-- opponent image-->
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>

</body>