<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Mayhen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/landingPage.css">

</head>

<body>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="container">
        <div class="row">
            <div row="col-md-12">
                <div id="lpJumbotron" class="jumbotron">
                    <h1 id="lph1" class="display-4">Welcome to Project Mayhem</h1>
                    <p id="intro" class="lead">You met us at a very strange time in our lives.
                        <br>We are a group of bare knuckle coding brawlers from the UPenn Coding Bootcamp Jan 2018 Cohort.
                        <br> Together we fought the odds and a deadline to put together a full stack project like no other.
                        <br> This is Fight Club.</p>
                    <hr id="lpBreak" class="my-4">
                    <h2 id="leaderB">Leaderboard</h2>
                    <ol>
                        {{!-- change to match the controller // Top 5 should display here--}} {{#each UserObject}}
                        <li>
                            <p>ID: {{this.username}}</p>
                            <p>Wins : {{this.wins}}</p>
                        </li>
                        {{/each}}
                    </ol>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p id="FTRF">First Timers:</p>
                            <a class="btn btn-primary" id="FTB" href="#" role="button">Create Your Warrior</a>
                        </div>
                        <div class="col-md-6 text-center">
                            <p id="FTRF">Returning Fighters:</p>
                            <a class="btn btn-primary" id="RFB" href="#" role="button">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</body>