<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fight Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div row="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome To Fight Club!</h1>
                    <p class="lead">"How much can you know about yourself if you've never been in a fight?"</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- user player image -->
                <div class="card">
                    <img class="card-img-top " src="https://static.giantbomb.com/uploads/scale_small/13/135472/1891760-003venusaur.png" alt="Card image cap ">
                    <div class="card-body">
                        <h5 class="card-title">Your Stats</h5>
                        <div class="card-body">
                            <p>Strength: {{this.strength}}
                                <br>Speed: {{this.speed}}
                                <br>Level: {{this.}level}
                                <br>Experience: {{this.experience}}
                                <br>Health: {{js bar}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- vs symbol & gamplay buttons -->
                <div class="card">
                    <img class="card-img-top " src="https://vignette.wikia.nocookie.net/deathbattle/images/4/47/VS.png/revision/latest?cb=20160727174407">
                    <div class="card-body">
                        <h5 class="card-title">Good Luck</h5>
                        <div class="card-body">
                            <p>
                                <button type="button" id="heavyAttack" class="btn btn-danger">Heavy Attack</button>
                                <button type="button" id="fastAttack" class="btn btn-warning">Fast Attack</button>
                            </p>
                            <p>
                                <button type="button" id="block" class="btn btn-secondary">Block</button>
                                <button type="button" id="dodge" class="btn btn-dark">Dodge</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- opponent image-->
                <div class="card">
                    <img class="card-img-top " src="https://static.giantbomb.com/uploads/scale_small/13/135472/1891760-003venusaur.png" alt="Card image cap ">
                    <div class="card-body">
                        <h5 class="card-title">Your Stats</h5>
                        <div class="card-body">
                            <p>Strength: {{this.strength}}
                                <br>Speed: {{this.speed}}
                                <br>Level: {{this.}level}
                                <br>Experience: {{this.experience}}
                                <br>Health: {{js bar}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://github.com/SuttonAshby/RPG-project"> AJJS </a>
        </div>
    </div>
</body>