body{
    background: url('http://subreader.co/wp-content/uploads/2018/01/dark-creepy-basement-at-custom-20131203004210.jpg');
    background-size: 100% auto;
}
#gpJumbotron{
    opacity: 0.8;
    margin-top: 10%;
}
#gph1{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Lucida Console", Times;
}
#quote{
    text-align: center;
    font-family: Courier, monospace;
    font-weight: bold;
}
#fighters{
    opacity: 0.8;
    text-align: center;
    margin-bottom: 10%;
}
#names{
    font-family: "Lucida Console", Times;
    font-size: 1.5em;
}

#playerHP,
#opponentHP  {
    width: 100%;
    background-color: green;
    height:14px;
}

/* adding damage effect to the avatar image */
/* #playerAvatar {
        box-shadow: inset 0px 0px 60px 0px red;
} */